aside{
    background:rgb(166, 232, 235);
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 18%;
    height: 1000px;
}
.myimage-div
{
    display: none;
}
a.myimage-ssilka:hover+div
{
    display: block;
}
body{
    background-color: azure;
    color: darkslateblue;
    margin: 5px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,
footer {
    text-align: center;
    background-color: gainsboro;
}
 
p ::first-line{
color: black;
}
p{
    text-align: justify;
    text-indent: 8ch;
}
P::first-letter{
    font-size: 120%;
    color: blueviolet;
    text-decoration-line: underline;
}
section:hover{
    background-color: antiquewhite;
}

h2, h3, h4 {
    color: crimson;
    text-decoration-line: underline;
}
.letter1 {
    color: black;
    text-decoration-line:underline;
    font-size: 120%;
}